<div class="vertical-center">

    <div class="container">

        <div ng-hide="error">

            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">




                    <div ng-show="new && !loading">

                        <h3>{{"PLAY_GAME" | translate}}</h3>

                        <form>
                            <div class="form-group">
                                <!--<label for="inputlg">Start</label>-->
                                <input class="form-control input-lg text-center" id="inputlg" type="text" placeholder="{{'START_INPUT_PLACEHOLDER' | translate}}" ng-model="start" uib-typeahead="player as player for player in getPageTitlesForTypeAhead($viewValue)" typeahead-loading="loadingLocations" autocomplete="off" typeahead-wait-ms=100>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> {{"WIKI_NO_RESULTS_FOUND" | translate}}
                                </div>
                            </div>

                            <div class="form-group">
                                <!--<label for="inputlg">Finish</label>-->
                                <input class="form-control input-lg text-center" id="inputlg" type="text" placeholder="{{'FINISH_INPUT_PLACEHOLDER' | translate}}" ng-model="finish" uib-typeahead="player as player for player in getPageTitlesForTypeAhead($viewValue)" autocomplete="off" typeahead-wait-ms=100>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg" ng-click="search(start, finish);">{{"WIKI_LETS_START_BUTTON" | translate}}</button>
                        </form>

                    </div>


                    <div ng-hide="new || loading">

                        <h1>Von <i>{{start}}</i> zu <i>{{finish}}</i>:</h1>

                        <h1 ng-repeat="x in steps">
                            <span class="label label-success">{{$index + 1}}</span> <span class="label label-primary"> {{ x }}</span>
                        </h1>

                        <br>
                        <button type="button" class="btn btn-success btn-lg" ng-click="new=true;steps=null;">{{"WIKI_TRY_AGAIN_BUTTON" | translate}}</button>

                    </div>



                </div>





            </div>




            <center><img src="img/hourglass.svg" ng-show="loading" width="33%" alt="Logo" /></center>

        </div>


        <div ng-show="error"><center>

            <h1>{{"CONNECTION_ERROR" | translate}}</h1>

            <h3>{{"CONNECTION_ERROR_INFO" | translate}}</h3>

            <br>

            <button type="button" class="btn btn-success btn-lg" ng-click="error=false;">{{"WIKI_TRY_AGAIN_BUTTON" | translate}}</button>

        </center></div>
    </div>
</div>
