<div class="vertical-center">

    <div class="container">



        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center">




                <div ng-show="status=='NEW'">

                    <h3>{{"PLAY_GAME" | translate}}</h3>

                    <form>
                        <div class="form-group">
                            <!--<label for="inputlg">Start</label>-->
                            <div class="input-group">
                                <input class="form-control input-lg text-center" id="inputlg" type="text" placeholder="{{'START_INPUT_PLACEHOLDER' | translate}}" ng-model="start" uib-typeahead="player as player for player in getPageTitlesForTypeAhead($viewValue)" typeahead-loading="loadingLocations" autocomplete="off" typeahead-wait-ms=100>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg" ng-click="getRandom(true)"><i class="glyphicon glyphicon-random"></i></button>
                                </div>
                            </div>
                            <!--
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> {{"WIKI_NO_RESULTS_FOUND" | translate}}
                            </div>-->
                        </div>

                        <div class="form-group">
                            <div class="input-group">

                                <!--<label for="inputlg">Finish</label>-->
                                <input class="form-control input-lg text-center" id="inputlg" type="text" placeholder="{{'FINISH_INPUT_PLACEHOLDER' | translate}}" ng-model="finish" uib-typeahead="player as player for player in getPageTitlesForTypeAhead($viewValue)" autocomplete="off" typeahead-wait-ms=100>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg" ng-click="getRandom(false)"><i class="glyphicon glyphicon-random"></i></button>
                                </div>
                            </div>
                        </div>




                        <div class="row">



                            <div class="col-md-4">

                                <div class="form-group">
                                    <select class="form-control" ng-model="apiPath" ng-change="changePath(apiPath)">
                                        <option value="php-api/neo/">{{'CHOOSE_NEO4J' | translate}}</option>
                                        <option value="php-api/arango/">{{'CHOOSE_ARANGO' | translate}}</option>
                                        <option value="/">{{'CHOOSE_NODE' | translate}}</option>
                                  </select>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success btn-lg" ng-click="search(start, finish);" ng-disabled="!start || !finish">{{"WIKI_LETS_START_BUTTON" | translate}}</button>

                            </div>


                        </div>




                    </form>

                </div>
            </div>

        </div>


        <div ng-show="status=='SUCCESS'" class="text-center">


            <h1><small>{{"FROM" | translate}}</small> <i>{{start}}</i> <small>{{"TO" | translate}}</small> <i>{{finish}}</i>:</h1>

            <h1 ng-repeat="x in steps">
                            <span class="label label-success">{{$index + 1}}</span> <span class="label label-primary"> {{ x }}</span>
                        </h1>

            <br>
            <button type="button" class="btn btn-success btn-lg" ng-click="status='NEW';steps=null;">{{"WIKI_TRY_AGAIN_BUTTON" | translate}}</button><br>
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="well well-sm">{{"EXECUTION_TIME_X" | translate:{ time: responseTime } }}</div>
                </div>
            </div>

        </div>










        <center><img src="img/hourglass.svg" ng-show="status=='LOADING'" width="33%" alt="Logo" /></center>



        <div ng-show="status=='ERROR'">
            <center>

                <h1>{{"CONNECTION_ERROR" | translate}}</h1>

                <h3>{{ "ERROR_INFO_"+errorCode| translate}}</h3>

                <br>

                <button type="button" class="btn btn-success btn-lg" ng-click="status='NEW';">{{"WIKI_TRY_AGAIN_BUTTON" | translate}}</button>

            </center>
        </div>

        <div ng-show="status=='NO_PATH_FOUND'">
            <center>

                <h1>You won! No Path was found!</h1>

                <button type="button" class="btn btn-success btn-lg" ng-click="status='NEW';">{{"WIKI_TRY_AGAIN_BUTTON" | translate}}</button>

            </center>
        </div>


    </div>
</div>
